<!DOCTYPE html>
<html ng-app="calcApp">
<head>
  <title> Calculator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="CalcController">

  <h2>Calculator</h2>

  <input type="number" ng-model="num1" placeholder="Enter 1 number">
  <input type="number" ng-model="num2" placeholder="Enter 2 number">
  <button ng-click="add()">Add</button>
  <button ng-click="subtract()">Subtract</button>
  <button ng-click="multiply()">Multiply</button>
  <button ng-click="divide()">Divide</button>

 
  <p ng-class="{'result': !error, 'error': error}">
    Result: {{result}}
  </p>
  <script>
    angular.module('calcApp', [])
      .controller('CalcController', function($scope, $http) {
        $scope.add = function() {
          $scope.result = $scope.num1 + $scope.num2;
          $scope.error = false;
        };
        $scope.subtract = function() {
          $scope.result = $scope.num1 - $scope.num2;
          $scope.error = false;
        };
        $scope.multiply = function() {
          $scope.result = $scope.num1 * $scope.num2;
          $scope.error = false;
        };
        $scope.divide = function() {
          if ($scope.num2 != 0) {
            $scope.result = $scope.num1 / $scope.num2;
            $scope.error = false;
          }  
        };
        $scope.loadMessage = function() {
          $http.get("https://jsonplaceholder.typicode.com/posts/1")
            .then(function(response) {
              $scope.message = "Fetched message: " + response.data.title;
            });
        };
      });
  </script>

</body>
</html>
